footer.footer
    .footer__logo
        img(src='/img/logo-green.png' lat='Natour logo')
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Download
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') contact
    p.footer__copyright &copy; by Jeff liu. Wechat: lzmy0309, Gmail: liuzhimingyuan0309@gmail.com